@import "tailwindcss";

@theme {
  --breakpoint-xs: 390px;
  --breakpoint-large: 1440px;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.grid-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
